
body {
     padding-top: 40px;
    font-weight: 400;
    letter-spacing: normal;
    text-transform: none;
    line-height: 1.7em;
    letter-spacing: .04ch;
    font-family: 'Clarkson',Helvetica,sans-serif;
    font-size: 14px;
    color: #767676;
    color: #222;
    background-color: skyblue;
}

.page-container {
	width: 70%;
	margin: 10px auto;
	padding: 40px;
	background-color: white;
}

#login {
    padding-top: 40px;
    width: 50%;
}

.loginnav {
  float: right;
}

.health {
    padding-top: 40px;
}

.article-new {
    padding-top: 40px;
}

h1 {
	color: gray;
	text-decoration-line: black;
	display: block;
}
.Articledis {
    padding-top: 40px;
}

.articleshow{
    padding-top: 40px;
}
.image {
    width: 100%;
    padding-top: 20px;
}

.btn-primary {
  background-color: #23aa4e;
  border-color: #177d37;
}

#filterlike {
    float: right; 
}

#back {
    float: right; 
}




