body {
 font-weight: 400;
    letter-spacing: normal;
    text-transform: none;
    line-height: 1.7em;
    letter-spacing: .04ch;
    font-family: 'Clarkson',Helvetica,sans-serif;
    font-size: 14px;
    color: #767676;
    color: #222;
    background-color: skyblue;
}

.page-container {
	width: 700px;
	margin: 10px auto;
	padding: 32px;
	background-color: white;
}

   .header { box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 400;
    width: 100%;
    padding: 0 8vw;

}

h1 {
	color: gray;
	text-decoration-line: black;
	display: block;
}
